body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #F8F9FA;
}

.main-pic {
    height: 100vh;
    width: 100%;
    position: relative;
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    padding: 4px; 
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

nav ul {
    font-size: 22px;
    margin: 0;
    padding: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav li {
    cursor: pointer;
    margin-left: 50px;
    font-weight: 520;
    padding: 8px;
    list-style-type: none;
}


.logo {
    cursor: pointer;
    color: #18272F;
    align-items: center;
    display: flex;
    font-size: 30px;
    font-weight: 800;
    margin: 12px;
    padding: 8px;
    border: 1px solid black;
}
.logo svg {
    width: 55px;
    height: 53px;
}
.logo-title {
    margin-left: 5px;
}
.title {
    letter-spacing: .1em;
}
.title-bottom {
    font-size: 14px;
    display: flex;
    justify-content: center;
}
a {
    position: relative;
    color: #18272F;
    text-decoration: none;
  }
  
  a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: tomato;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
  
  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  a:hover {
    color: white;
  }
  
  .tagline-container {
    background: transparent; 
    position: absolute;
    top: 24%;
    left: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 280px;
    color: #18272F;
    padding: 12px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}
.tagline {
    font-size: 32px;
    font-weight: bold; 
    margin-bottom: 20px;
}


.subtext {
    font-size: 18px;
    font-style: italic; 
}


.cta-button {
    display: inline-block; 
    padding: 15px 30px;
    background-color: #FFFFFF; 
    color:  #F75534; 
    border: none; 
    border-radius: 5px; 
    margin-top: 20px;
    text-decoration: none; 
    font-size: 18px; 
    transition: background-color 0.3s ease; 
    cursor: pointer;
}
.cta-button:hover {
    background-color: #F75534;
    color: white;
}

.job-listing-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo svg {
    height: 50px;
    width: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.job-listing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 1px solid silver;
    background-color: white;
    padding: 10px;
    border-radius: 40px;
    width: 750px;

}

.search-container input, .search-container select, .search-container button {
    outline: none;
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
}
.search-container input, .search-container select {
    width: 200px;
    background-color: white;
    border: none;
}
#jobTitle, #location {
    border-right: 1px solid silver;
}
.search-container button {
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #F75534;
    padding: 14px;
    border-radius: 25px;
    width: 130px;
    margin: 0;
    
}

.job-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.job-title {
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 40px;
}

.company {
    font-size: 1.2em;
    color: #666;
}

.location {
    margin-top: 10px;
    color: #555;
}

.salary {
    margin-top: 10px;
    color: green;
}

.job-type {
    margin-top: 10px;
    font-style: italic;
    color: #777;
}
.apply-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;  
}

.apply-button:hover {
    background-color: #0056b3;
}

#job-container {
   display: grid;
   grid-template-columns: repeat(3, minmax(200px, 1fr));
   justify-content: center;
   align-items: start;
   gap: 30px;
   margin: auto;
}
