body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
}

.main-pic {
    height: 100vh;
    width: 100%;
    position: relative;
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    padding: 4px; 
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

nav ul {
    font-size: 22px;
    margin: 0;
    padding: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav li {
    cursor: pointer;
    margin-left: 50px;
    font-weight: 520;
    padding: 8px;
    list-style-type: none;
}


.logo {
    cursor: pointer;
    color: #18272F;
    align-items: center;
    display: flex;
    font-size: 30px;
    font-weight: 800;
    margin: 12px;
    padding: 8px;
    
}
.logo:hover {
    border: 1px solid black;
}
.logo svg {
    width: 55px;
    height: 53px;
}
.logo-title {
    margin-left: 5px;
}
.title {
    letter-spacing: .1em;
}
.title-bottom {
    font-size: 14px;
    display: flex;
    justify-content: center;
}
nav a {
    position: relative;
    color: #18272F;
    text-decoration: none;
  }
  
  nav a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: tomato;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
  
  nav a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  nav a:hover {
    color: white;
  }
  
  .tagline-container {
    background: transparent; 
    position: absolute;
    top: 24%;
    left: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 280px;
    color: #18272F;
    padding: 12px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}
.tagline {
    font-size: 32px;
    font-weight: bold; 
    margin-bottom: 20px;
}


.subtext {
    font-size: 18px;
    font-style: italic; 
}


.cta-button {
    display: inline-block; 
    padding: 15px 30px;
    background-color: #FFFFFF; 
    color:  #F75534; 
    border: none; 
    border-radius: 5px; 
    margin-top: 20px;
    text-decoration: none; 
    font-size: 18px; 
    transition: background-color 0.3s ease; 
    cursor: pointer;
}
.cta-button:hover {
    background-color: #F75534;
    color: white;
}

.job-listing-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo svg {
    height: 50px;
    width: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.job-listing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 1px solid silver;
    background-color: white;
    padding: px;
    border-radius: 40px;
    width: 800px;

}

.search-container input, .search-container select, .search-container button {
    outline: none;
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
}
.search-container input, .search-container select {
    width: 200px;
    background-color: white;
    border: none;
}
#jobTitle, #location {
    border-right: 1px solid silver;
}
.search-container button {
    margin-right: -20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #F75534;
    padding: 14px;
    border-radius: 25px;
    width: 150px;
   
    
}

.job-item {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.job-title {
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 40px;
}

.company {
    font-size: 1.2em;
    color: #666;
}

.location {
    margin-top: 10px;
    color: #555;
}

.salary {
    margin-top: 10px;
    color: green;
}

.job-type {
    margin-top: 10px;
    font-style: italic;
    color: #777;
}
.apply-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;  
}

.apply-button:hover {
    background-color: #0056b3;
}

#job-list {
   display: grid;
   grid-template-columns: repeat(3, minmax(200px, 1fr));
   justify-content: center;
   align-items: start;
   gap: 30px;
   margin: auto;
}
.info {
    display: flex;
    background-color: #86BFC0;
    padding: 50px 0;
  }

  .about-us {
    width: 40%;
  }
  .about-us-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    margin: 20px;
  }

  .about-us-content {
    font-size: 24px;
    margin: 25px;
  }
  footer {
    background-color: #86BFC0;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    color: black;
  }
  
  .footer-logo {
    cursor: pointer;
    color: #18272F;
    align-items: center;
    display: flex;
    font-size: 30px;
    font-weight: 800;
    margin-left: 150px;
}
.footer-logo svg {
    width: 55px;
    height: 53px;
}
.address {
    display: flex;
    width: 200px;
    margin: 30px;
    padding: 20px;
}
.services-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
}
.services-1 a, .services-2 a {
    margin: 8px;
    font-size: 20px;
    color: black;
}
.services a {
    text-decoration: none;
}
.services a:hover {
    transform: scale(1.1);
}
.services-2 {
    display: flex;
    margin: 80px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.services {
    display: flex;
    height: 220px;
    margin-left: 100px;
    margin-top: 40px;
}
.services h5 {
    font-size: 32px;
}
.contact-us {
    padding: 100px;
}

.send-mail {
    background-color: #DEF2FE;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid silver;
  }
  
  .send-mail h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .send-mail h4 {
    font-size: 20px;
    color: #6c757d;
    margin-bottom: 20px;
  }
  
  .send-mail input[type="email"] {
    width: 30%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    outline: none;
  }
  .send-mail button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .send-mail button:hover {
    background-color: #0056b3;
  }
  .connect-us svg {
    width: 40px;
    margin: 10px;
    margin-left: 25px;
 }
 .connect-us svg:hover {
   transform: scale(1.4);
 }
 #fb{
    fill: blue;
  }
  #insta{
    fill:  #e4405f;
  }
  #tweet{
    fill: royalblue;
  }
  #twitch {
     fill: purple;
  }

@media (max-width: 768px) {

  nav {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    padding: 10px;
  }

  nav li {
    margin: 10px 0;
  }

  
  .tagline-container {
    position: static;
    width: 90%;
    height: auto;
    margin: 20px auto;
    text-align: center;
  }

  .tagline {
    font-size: 24px;
  }

  .subtext {
    font-size: 16px;
  }

  
  .search-container {
    flex-direction: column;
    width: 90%;
    padding: 15px;
    border-radius: 20px;
  }

  .search-container input,
  .search-container select,
  .search-container button {
    width: 100%;
    margin: 8px 0;
  }

  .search-container button {
    margin-right: 0;
  }

 
  #job-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  
  .info {
    flex-direction: column;
    align-items: center;
  }

  .about-us {
    width: 90%;
    text-align: center;
  }

  .about-us-content {
    font-size: 18px;
  }

  
  .services {
    flex-direction: column;
    margin-left: 0;
    height: auto;
  }

  .services-2 {
    margin: 20px 0;
  }

  .footer-logo {
    margin-left: 0;
    justify-content: center;
  }

  
  .contact-us {
    padding: 30px;
  }

  .send-mail input[type="email"] {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  #job-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .search-container {
    width: 90%;
  }
}


  
